<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>controller.SubscribeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactSendServlet</servlet-name>
        <servlet-class>controller.ContactSendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testing</servlet-name>
        <servlet-class>controller.Testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>controller.testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>controller.HeaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CateloriesResultServlet</servlet-name>
        <servlet-class>controller.CateloriesResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmDetailServlet</servlet-name>
        <servlet-class>controller.FilmDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FooterServlet</servlet-name>
        <servlet-class>controller.FooterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyingServlet</servlet-name>
        <servlet-class>controller.BuyingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>controller.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactPageServlet</servlet-name>
        <servlet-class>controller.ContactPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewGameServlet</servlet-name>
        <servlet-class>controller.AddNewGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGameSerlvet</servlet-name>
        <servlet-class>controller.UpdateGameSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCategoriesServlet</servlet-name>
        <servlet-class>controller.AddNewCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoriesServlet</servlet-name>
        <servlet-class>controller.UpdateCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamesDetailServlet</servlet-name>
        <servlet-class>controller.GamesDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSupplierServlet</servlet-name>
        <servlet-class>controller.AddNewSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <servlet-class>controller.UpdateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrderConfirmServlet</servlet-name>
        <servlet-class>controller.UserOrderConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/SubscribeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactSendServlet</servlet-name>
        <url-pattern>/ContactSendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testing</servlet-name>
        <url-pattern>/Testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/HeaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CateloriesResultServlet</servlet-name>
        <url-pattern>/CateloriesResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmDetailServlet</servlet-name>
        <url-pattern>/FilmDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FooterServlet</servlet-name>
        <url-pattern>/FooterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyingServlet</servlet-name>
        <url-pattern>/BuyingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/ShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactPageServlet</servlet-name>
        <url-pattern>/ContactPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewGameServlet</servlet-name>
        <url-pattern>/AddNewGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGameSerlvet</servlet-name>
        <url-pattern>/UpdateGameSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCategoriesServlet</servlet-name>
        <url-pattern>/AddNewCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoriesServlet</servlet-name>
        <url-pattern>/UpdateCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamesDetailServlet</servlet-name>
        <url-pattern>/GamesDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSupplierServlet</servlet-name>
        <url-pattern>/AddNewSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <url-pattern>/UpdateSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderConfirmServlet</servlet-name>
        <url-pattern>/UserOrderConfirmServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
